html, body{
  background-image:url("../media/heir.jpg") ;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'GFS Didot', serif;
}

.menu-nav{
  display: flex;
  background-color: #060100;
}

.dropdown menu{
  position: relative;
  display: inline-block;
}
.dropbtn, .dropdown-content a{
  background-color: rgba(22, 21, 21, 0.8);
  color: white;
  text-transform: uppercase;
}
.dropbtn{
  background-color: #060100;
  font-size: 19px;
  letter-spacing: 4px;
  height: 100%;
  width: 152px;
  margin-left: 19px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.2);
}
.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 20px;
}

.dropbtn:hover,
.dropdown-content a:hover{
  background-color: rgba(22, 21, 21, 0.4);
  box-shadow: 1px 0px 10px 0px #865858;
  transition: 0.125s ease-in-out;
}
.dropbtn:active,
.dropdown-content a:active,
.heir-submit:active,
#response-submit:active,
#sort-list-asc:active,
#sort-list-desc:active{
  background-color: rgb(207, 198, 198);
  transition: 0.125s ease-in-out;
  color: hwb(0 35% 47%);
}

.profile-icon{
  margin: 0.35% 1.75% 0;
}
/* Home Page */
.home-container{
  width: 60%;
  margin: 30% auto 5%;
  padding: 2%;
} 

.home-content{
  background-color: rgba(0,0,0, 0.85);
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding: 3%;
  color:white;
}
/*  Characters page */
.char-page-container{
  text-align: center;
  margin-top: 5%;
}
.container{
  padding: 5%;
  padding-top: 0;
  text-align: center;
}
.col-md-3{
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 0.2px solid rgba(127, 127, 127, 0.2);
  margin: 0 auto;
  padding: 5px;
}
.char-container, .sidebar{
  vertical-align: text-top;
}
.character:hover{
  transform: translate(0px,2px);
  transition: 0.125s ease-in-out;
}
.icon{
  height: 20vh;
  width: 58%;
  padding: 2%;
}
.char-name{
  font-size: 18px;
  margin: 5% auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.char-container{
  width: 60%;
  display: inline-block;
}
.sidebar{
  display: inline-block;
}
.heir-container,
.list-characters,
.list-container{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  width: 18vw;
}
.list-container{
  background-color: transparent;
}

.heir-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 3%;
  text-align: left;
}

.list-characters{
  margin-top: 20%;
  line-height: 2;
  height: 40vh;
  overflow: hidden;
  padding: 5%;
}
.heading-caption{
  font-size: 18px;
  width: 70%;
  background-color: rgba(207, 198, 198,0.2);
  border-radius: 2px;
  margin: 0 auto 5%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(241, 108, 41);
}
.heir-submit,
.list-controls button{
  color: white;
  background-color: rgb(32, 30, 30);
  padding: 6px 15px;
  height: 30%;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.list-controls asc{
  width: 40%;
}
.list-controls desc{
  width: 60%;
}
/* Forum page */

/* Contains video and forum container to display flex*/
.forum-pg-container{
  background-color: rgba(6, 1, 0,0.95);
  width: 80%;
  margin: 4% auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-title{
  padding: 15px;
  font-size: 20px;
  color:white;
}

.forum-container{
  margin: 0 auto;
  width: 100%;
}
.response-form{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  width: 40%;
}
.response-form label{
  color: white;
  margin-right: 2%;
} 

.response-form textarea{
  width: 100%;
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
  padding: 7px;
}
.response-form ::placeholder{
  letter-spacing: 1px;
  font-size: 14px;
}
.response-form textarea::placeholder{
  padding: 2px 5px;
}

#response-submit{
  color: white;
  background-color: rgb(32, 30, 30);
  padding: 5px 20px;
}
